---
layout: page
title: Home
permalink: /
---
<section id="slideshow" class="carousel" data-flickity='{ "wrapAround": false, "autoPlay": true, "adaptiveHeight": false, "pageDots": false, "fade": true  }'>
  {% for slideshow-content in site.data.slideshow-contents %}
    {% include slideshow.html bg_img=slideshow-content.bg_img heading=slideshow-content.heading article=slideshow-content.article %}
  {% endfor %}
</section>
<section class="sulong-bg-contrast">
  <section class="container">
    <div class="row p-4">
      {% for card-content in site.data.content-card-contents %}
        {% include content-card.html is_embedded=card-content.is_embedded link_to=card-content.link_to img=card-content.img title=card-content.title body=card-content.body %}
      {% endfor %}
    </div>
  </section>
</section>