---
layout: page
title: Team
permalink: /team/
---
<section class="container p-3">
  <heading class="text-center p-3">
    <h1 class="sulong-bold">The Team</h1>
  </heading>
  <article class="sulong-font-2 p-3">
    <p class="text-left">
      We are comprised of creative and experienced individuals that have a proud background of participating in and
      winning multiple local hackathons, as well as representing the Philippines and winning international ideation
      competitions.
    </p>
    <p class="text-left">
      Our skillset and expertise in the field of media is backed by experience that includes doing branding work and
      video production for acclaimed companies such as Don Bosco Educational Centers Philippines, as well as some local
      government units in the country.
    </p>
    <p class="text-left">
      Our team also includes seasoned professionals that have experienced running their own businesses in the field of
      media as well as individuals that have helped manage some of the country’s largest companies in the past.
    </p>
  </article>
</section>

<section class="container p-3">
  <heading class="text-center p-3">
    <h1 class="sulong-bold">Core Team</h1>
  </heading>
  <article class="sulong-font-2 p-3">
    <row class="row d-flex justify-content-center">
      {% for person in site.data.team-core %}
        {% include team-card.html col_sm=6 col_md=4 icon_bg_color="sulong-bg-base" img=person.img img_hover=person.img_hover name=person.name description=person.description %}
      {% endfor %}
    </row>
  </article>
</section>

<section class="container p-3">
  <heading class="text-center p-3">
    <h1 class="sulong-bold">Consultants</h1>
  </heading>
  <article class="sulong-font-2 p-3">
    <row class="row d-flex justify-content-center">
      {% for person in site.data.team-consultants %}
        {% include team-card.html col_sm=6 col_md=4 icon_bg_color="sulong-bg-secondary" img=person.img img_hover=person.img_hover name=person.name description=person.description %}
      {% endfor %}
    </row>
  </article>
</section>

<section class="container p-3">
  <heading class="text-center p-3">
    <h1 class="sulong-bold">Team Leads</h1>
  </heading>
  <article class="sulong-font-2 p-3">
    <row class="row d-flex justify-content-center">
      {% for person in site.data.team-leads %}
        {% include team-card.html col_sm=6 col_md=4 icon_bg_color="sulong-bg-primary" img=person.img img_hover=person.img_hover name=person.name description=person.description %}
      {% endfor %}
    </row>
  </article>
</section>

<section class="container p-3">
  <heading class="text-center p-3">
    <h1 class="sulong-bold">Members</h1>
  </heading>
  <article class="sulong-font-2 p-3">
    <row class="row d-flex justify-content-center">
      {% for person in site.data.team-members %}
        {% include team-card.html col_sm=6 col_md=3 icon_bg_color="sulong-bg-accent1" img=person.img img_hover=person.img_hover name=person.name description=person.description %}
      {% endfor %}
    </row>
  </article>
</section>

<style>
  .founder-img-hover{
    opacity: 0;
    transition: 0.4s;
  }
  .founder-img-container:hover > .founder-img-hover{
    opacity: 1;
  }
</style>