<div class="col-lg-4 col-md-6 p-1 ">
  <div class="card shadow rounded p-3 h-100" {% unless include.is_embedded %}
    onclick="window.open('{{include.link_to}}', 'mywindow');" role="button" {% endunless %}>
    {% if include.is_embedded %}
      <iframe class="img-fluid sulong-bg-primary d-flex align-items-center" style="min-height: 300px;" src="{{include.link_to}}">
      </iframe>
    {% else %}
      <picture class="position-relative d-block overflow-hidden w-100" style="padding-bottom: 100%;">
        <img class=" position-absolute centered" src="{{include.img}}" />
      </picture>
    {% endif %}
    <header class="mt-2 m-0">
      <h1>{{ include.title }}</h1>
    </header>
    <article>
      <p>{{ include.body }}</p>
    </article>
  </div>
</div>
