<footer id="footer" class="ekonek-bg-primary">
  <section class="container ekonek-color-hard-contrast p-3 ekonek-regular">
    <row class="row pt-5">
      <!-- Main Column 1 -->
      <column class="d-block col-md-4 p-4 d-flex flex-column justify-content-between" style="border-right: 2px solid var(--ekonek-contrast)">
        <section>
          <img class="img-fluid"
            src="https://static.wixstatic.com/media/583f70_e1a1a9ab914841a2b4c6cc9a9b9ec950~mv2.png/v1/crop/x_280,y_112,w_7376,h_1852/fill/w_329,h_83,al_c,q_85,usm_0.66_1.00_0.01/DO-LOGO-T-WHT-SPACE.webp" />
          <heading class="d-block mt-3 mb-3">
            <h5>Copyright <span class="ekonek-typeface-alternative">©</span> DayOne Media 2020</h5>
          </heading>
          <article>
            <p>DayOne Media is registered with the Philippine Department of Trade and Industry</p>
            <p>DTI Business Name No. 2248036</p>
          </article>
        </section>
        <section>
          <p>
            Send us an email: </br>
            <span class="ekonek-bold">hello@dayone.media</span>
          </p>
          <p>Get up to date on social media</p>
          <div>
            <!-- Youtube -->
            <a href="https://www.youtube.com/channel/UCcJoJ3KmQ74Wx5pC2Mar-zQ"><img src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01/203dcdc2ac8b48de89313f90d2a4cda1.webp" /></a>
            <!-- Facebook -->
            <a href="https://web.facebook.com/DayOneMediaPH/?_rdc=1&_rdr"><img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.webp" /></a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/dayonemediaph/"><img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.webp" /></a>
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/company/dayone-media-ph/"><img src="https://static.wixstatic.com/media/7528824071724d12a3e6c31eee0b40d4.png/v1/fill/w_33,h_33,al_c,q_85,usm_0.66_1.00_0.01/7528824071724d12a3e6c31eee0b40d4.webp" /></a>
          </div>
        </section>
      </column>
      <!-- Main Column 2 -->
      <column class="d-block col-md-8 p-4" style="border-left: 2px solid var(--ekonek-contrast)">
        <heading class="d-block mt-3 mb-3">
          <h3 class="ekonek-bold">Media that makes meaning.</h3>
          <h4>That is our goal.</h4>
        </heading>
        <article>
          <p>If you want us to help you make meaning out of media, fill out the form below, or send us an email or a
            message through our various social media accounts.</p>
          <form>
            <row class="row p-3">
              <column class="form-group col-sm-6">
                <input name="name" type="text" placeholder="Your Name" class="ekonek-form-transparent">
              </column>
              <column class="form-group col-sm-6">
                <input name="company" type="text" placeholder="Company" class="ekonek-form-transparent">
              </column>
              <column class="form-group col-sm-6">
                <input name="email" type="text" placeholder="Email" class="ekonek-form-transparent">
              </column>
              <column class="form-group col-sm-6">
                <input name="contact_number" type="text" placeholder="Contact Number" class="ekonek-form-transparent">
              </column>
              <column class="form-group col-sm-12">
                <textarea name="message" placeholder="Message" class="ekonek-form-transparent ekonek-textarea"></textarea>
              </column>
              <div class="d-flex justify-content-end w-100 pr-3 pl-3">
                <input type="submit" class="btn btn-lg ekonek-btn-base ekonek-bold" value="Submit"/>
              </div>
            </row>
          </form>
        </article>
      </column>
    </row>
  </section>
</footer>