<footer id="footer" class="esync-bg-main fixed-bottom">
  <section class="container esync-color-contrast p-3">
    <h1 class="esync-bold">eSync</h1>
    <p class="esync-regular">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolore suscipit dolores veniam facilis sequi rerum inventore cum hic, consequuntur ipsa voluptatum aspernatur illo culpa quisquam expedita maxime sint vitae.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, iste sed tempore asperiores in necessitatibus nostrum odio. Corrupti inventore sit dicta aut praesentium sed consectetur placeat delectus, vel iste blanditiis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat magni voluptatem nesciunt temporibus, et praesentium aliquam nostrum asperiores pariatur odit repellat sit consequuntur qui reprehenderit possimus tempore nam unde autem.
    </p>
  </section>
</footer>