<div class="col-md-4 col-sm-6 p-2">
  <div class="p-3 text-center h-100">
    <picture class="position-relative d-block" style="">
      <div class="rounded-circle overflow-hidden position-relative w-100" style="padding-bottom: 100%;">
        <img class="h-100 w-100 position-absolute left-0" src="{{ include.img }}" />
      </div>
      <div class="svg-container-icon-5 transition-1 position-absolute bottom-0 right-0 ekonek-bg-base p-3 rounded-circle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g fill='var(--ekonek-contrast)'>
            <path
              d="M16.14 12.33C17.28 11.24 18 9.71 18 8c0-3.31-2.69-6-6-6S6 4.69 6 8c0 1.71.72 3.24 1.86 4.33C3.52 13.05 0 14.94 0 18c0 4 1 4 12 4s12 0 12-4c0-3.06-3.52-4.95-7.86-5.67z">
            </path>
          </g>
        </svg>
      </div>
    </picture>
    <name>
      <h2 class="ekonek-bold">{{ include.name }}</h2>
    </name>
    <description>
      <p>{{ include.description }}</p>
    </description>
  </div>
</div>

<style>
  .round-img{

  }
</style>