<header id="header" class="sulong-bg-primary navbar fixed-top">
  <div class="d-flex align-items-center justify-content-between container">
    <section class="w-100 w-md-auto text-center text-md-left">
      <h1 class="sulong-color-base sulong-special">eKonecc</h1>
    </section>
    <section id="navigation-links" class="w-100 w-md-auto pl-2 pl-md-0 pr-2 pr-md-0">
      <ul class="sulong-color-contrast list-unstyled d-flex align-items-center m-0 justify-content-between w-100 sulong-special sulong-font-3">
        <li class="p-3"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="p-3"><a href="{{site.baseurl}}/team">Team</a></li>
        <li class="p-3"><a href="{{site.baseurl}}/about">About</a></li>
      </ul>
    </section>
  </div>
</header>
<div id="header-bottom" class="sulong-bg-primary"></div>

<style>
  #navigation-links > ul > li > a{
    color: var(--sulong-contrast) !important;
  }
  #navigation-links > ul > li > a:hover, #navigation-links > ul > li > a.active{
    font-weight: bold;
    text-decoration: none;
  }
</style>