<header id="header" class="ekonek-bg-primary navbar fixed-top">
  <div class="d-flex align-items-center justify-content-between container">
    <section class="w-100 w-md-auto text-center text-md-left">
      <h1 class="ekonek-color-base ekonek-special">eKonecc</h1>
    </section>
    <section id="navigation-links" class="w-100 w-md-auto pl-5 pl-md-0 pr-5 pr-md-0">
      <ul class="ekonek-color-contrast list-unstyled d-flex align-items-center m-0 justify-content-between w-100">
        <li class="ekonek-font-2 p-3"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="ekonek-font-2 p-3"><a href="{{site.baseurl}}/team">Team</a></li>
        <li class="ekonek-font-2 p-3"><a href="{{site.baseurl}}/about">About</a></li>
      </ul>
    </section>
  </div>
</header>
<div id="header-bottom" class="ekonek-bg-primary"></div>

<style>
  #navigation-links > ul > li{
  }
</style>