---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="image_src" href="{{site.baseurl}}/assets/images/SULONG-V2-BLK.png">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  <link rel="icon" href="{{site.baseurl}}/assets/images/SULONG-icon.png" type="image/gif" sizes="16x16">
  <script src="{{site.baseurl}}/assets/main.js"></script>
  <script src="{{site.baseurl}}/assets/flickity.pkgd.js"></script>
  <script src="{{site.baseurl}}/assets/flickity.fade.js"></script>
  <title>{{page.title}} | Sulong!</title>
</head>

<body class="theme1 sulong-regular-2">
  {% include header.html %}
  {{content}}
  {% include footer.html %}
</body>

</html>